@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #283048;
    --background: 239 96.45% 98.44%;
    --foreground: 239 2.9% 0.88%;

    --muted: 239 2.9% 92.2%;
    --muted-foreground: 239 1.45% 42.2%;

    --popover: 239 66.8% 92.2%;
    --popover-foreground: 239 2.9% 1.1%;

    --card: 239 66.8% 92.2%;
    --card-foreground: 239 2.9% 1.1%;

    --border: 239 7.9% 89.88%;
    --input: 239 7.9% 89.88%;

    --primary: 239 29% 22%;
    --primary-foreground: 239 0.58% 92.2%;

    --secondary: 239 1.45% 96.1%;
    --secondary-foreground: 239 2.7399999999999998% 12.2%;

    --accent: 239 1.45% 96.1%;
    --accent-foreground: 239 2.7399999999999998% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 239 29% 22%;

    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --gradient: #7742b2;

    --background: 285 29.900000000000002% 3.84%;
    --foreground: 285 4.6000000000000005% 97.4%;

    --muted: 285 23% 14.399999999999999%;
    --muted-foreground: 285 4.6000000000000005% 54.8%;

    --popover: 285 55.8% 6.24%;
    --popover-foreground: 285 4.6000000000000005% 97.4%;

    --card: 285 55.8% 6.24%;
    --card-foreground: 285 4.6000000000000005% 97.4%;

    --border: 285 23% 14.399999999999999%;
    --input: 285 23% 14.399999999999999%;

    --primary: 285 46% 48%;
    --primary-foreground: 285 4.6000000000000005% 4.8%;

    --secondary: 285 23% 14.399999999999999%;
    --secondary-foreground: 285 4.6000000000000005% 97.4%;

    --accent: 285 23% 14.399999999999999%;
    --accent-foreground: 285 4.6000000000000005% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 285 4.6000000000000005% 97.4%;

    --ring: 285 46% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
