@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #215f00, #e4e4d9);
    --background: 105 100% 98.38%;
    --foreground: 105 10% 0.76%;

    --muted: 105 10% 91.9%;
    --muted-foreground: 105 5% 41.9%;

    --popover: 105 10% 91.9%;
    --popover-foreground: 105 10% 0.95%;

    --card: 105 10% 91.9%;
    --card-foreground: 105 10% 0.95%;

    --border: 105 15% 89.76%;
    --input: 105 15% 89.76%;

    --primary: 105 100% 19%;
    --primary-foreground: 105 2% 91.9%;

    --secondary: 105 5% 95.95%;
    --secondary-foreground: 105 7% 11.9%;

    --accent: 105 5% 95.95%;
    --accent-foreground: 105 7% 11.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 105 100% 19%;

    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --gradient: linear-gradient(to top left, #1e3c72, #1e3c72, #2a5298);

    --background: 232 37.699999999999996% 2.24%;
    --foreground: 232 5.8% 96.4%;

    --muted: 232 28.999999999999996% 8.4%;
    --muted-foreground: 232 5.8% 52.8%;

    --popover: 232 53.4% 3.6400000000000006%;
    --popover-foreground: 232 5.8% 96.4%;

    --card: 232 53.4% 3.6400000000000006%;
    --card-foreground: 232 5.8% 96.4%;

    --border: 232 28.999999999999996% 8.4%;
    --input: 232 28.999999999999996% 8.4%;

    --primary: 232 58% 28%;
    --primary-foreground: 232 5.8% 96.4%;

    --secondary: 232 28.999999999999996% 8.4%;
    --secondary-foreground: 232 5.8% 96.4%;

    --accent: 232 28.999999999999996% 8.4%;
    --accent-foreground: 232 5.8% 96.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 232 5.8% 96.4%;

    --ring: 232 58% 28%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
